body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width:20%;
    min-width:350px;
    margin: auto;
    padding:10px;
    justify-content: center;
    border:3px solid black;
    border-radius: 30px;
    background-color: pink;
}
.container h1{
    display: flex;
    justify-content: center;
    text-decoration: underline;
}
.add{
    display: block;
    justify-content: center;
    align-items: center;   
}
/* CSS */
.input-container {
    display: flexbox;
   
    border-radius: 30px;
  }
  
  .input-container input {
    margin-right: px;
  }
  
input{
    border-radius: 10px;
    display: block;
    margin: auto;
    padding: 7px;
    box-shadow: 2px 2px 15px black;
    font-family: monospace;
    font-weight: bold;
    color: purple;
}
   

.btn{
    background-color: rgb(189, 82, 189);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    margin: auto;
    margin-right: 10px;
    color: #fff;
    font-weight: bold;
    font-family: monospace;
}
.btn:hover{
    
    background-color: pink;
    
    transition: ;

}
    color: red;
    border-radius: 30px;
    margin: auto;
    margin-left: 2rem;
}
{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 16px;
    transition: 0.2s;
    border-radius:60px;
}
/* CSS */
  #list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: green;
    background-color: #fff;
    padding: 10px 13px 10px;
    border-radius: 150rem;
    margin-left: -1rem;
    font-weight: bold;
    font-size: medium;
    font-family: monospace;
    box-shadow: 0px 6px 20px black;
    
  	margin-bottom: 15px;
    
  }
  
  #list li button {
    margin-left: 10px;
    border-radius: 9px;
    background-color: rgb(128, 253, 128);
    font-weight: bold;
    font-family: monospace;
    

  }
  #list li button:hover{
   transform: scale(1.1);
    transition: .3s;
    background-color: rgb(177, 65, 177);

  }
  
  .list-item {
    background-color: red;
    padding: 10px;
    margin-bottom: 5px;
    
  }
  
  .list-item:nth-child(even) {
    background-color: red;
    border-radius: 30px;
    color: red;
    
  }
  

